.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  
  .card h2 {
    font-size: 1rem;
  }
  
  .card .editField {
    flex-grow: 2;
    margin: 0 10px;
    border: none;
  }
  
  .card .insertButton,
  .card .deleteButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .card .deleteButton {
    color: white;
    background-color: red;
    border: none;
  }
  
  .card .insertButton {
    color: white;
    background-color: green;
    border: none;
  }
  