.public-navbar {
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.public-navbar-logo-div {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.public-navbar-logo {
    height: 50px;
}

.public-navbar-logo img {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.clickable-logo {
    cursor: pointer;
  }
.public-navbar-text {
    margin: 0;
    margin-left: 10px;
    /* background-image: linear-gradient(
      225deg,
      #19fa7e 0%,
      #10ad9e 29%,
      #13d4ff 67%,
      #fff800 100%
    ); */
    background-image: linear-gradient(
        225deg,
        #a909ff 0%,
        #09bdff 25%,
        #5E4CFF 49%,
        #832cfe 77%,
        #a909ff 100%
      );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 9s linear infinite;
    display: inline-block;
        font-size: 35px;
}

@keyframes textclip {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.public-navbar-beta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    font-weight: 700;
    height: 22px;
    width: 55px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: #092eff;
    
}

.public-navbar-items {
    display: flex;
    gap: 20px;
    font-weight: 500;
    align-items: center;
    /* justify-items: center; */
}

.public-navbar-items a {
    text-decoration: none;
    color: black; /* initial color */
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

.public-navbar-items a:hover {
    color: rgb(123, 0, 255); /* color on hover */
}

.public-navbar-items a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(123, 0, 255);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.public-navbar-items a:hover::before {
    visibility: visible;
    width: 100%;
}

@media (max-width: 768px) {
    .public-navbar-logo-div {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .public-navbar-logo {
      height: 30px; /* Reduced size */
    }
  
    .public-navbar-text {
      font-size: 20px; /* Reduced size */
    }
  
    .public-navbar-beta {
      height: 15px; /* Reduced size */
      width: 40px; /* Reduced size */
      font-size: 8px; /* Reduced size */
      margin-left: 7px;
      margin-top: 1px;
    }
  }

.button_slide {
    background-color: white;
    margin: 0;
    height: 40px;
    color: #0505A9;
    border: 2px solid #0505A9;
    border-radius: 30px;
    padding: 9px 18px;
    font-weight: 800;
    display: inline-block;
    font-size: 14px;
    /* letter-spacing: 1px; */
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0505A9;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #0505A9;
    color: #fff;
    font-weight: 800;
  }

  .menu-button {
    width: 20px;
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
  }

  .menu-button.opened {
    color: #747474; /* Change this to the color you prefer */
  }
  
  
/* When the screen is 768px or smaller */
@media (max-width: 768px) {
    .menu-button {
      display: block;
      z-index: 3;
    }
    
    .menu-button.close {
      display: none;
    }


    .menu-button.opened {
        color: white; /* Change this to the color you prefer */
    }
  
  
    .public-navbar-items {
      display: flex;
      border-radius: 20px 0px 0px 20px;
      flex-direction: column;
      position: fixed;
      /* background-color: rgba(210, 203, 255, 0.95); */
      background-color: rgb(29, 33, 48, 0.95);
      top: 0;
      right: -300px;  /* Initially off-screen */
      bottom: 0;
      width: 150px;  /* Set to your preferred width */
      transition: right 0.3s ease;
      z-index: 1; /* To ensure the menu slides over the content */
    }
  
    .public-navbar-items.open {
        display: flex;
        padding-top: 80px;
        padding-right: 31px;
        align-items: flex-end;
        right: 0;  /* Slide into view */
        gap: 0;
        z-index: 2;
    }
  
    .public-navbar-items.open .menu-button.close {
      display: block;  /* Show close button */
    }
  
    .public-navbar-items.open p {
      height: 30px;
      margin: 0;
      color: rgb(255, 255, 255);
      font-weight: 800;
    }

    .button_slide {
        display: none;
      }
  }