.public-navbar {
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.public-navbar h1 {
    margin: 0;
    margin-right: auto;
    margin-left: 10px;
    background-image: linear-gradient(
      225deg,
      #19fa7e 0%,
      #10ad9e 29%,
      #13d4ff 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 9s linear infinite;
    display: inline-block;
        font-size: 30px;
}

.public-navbar-items {
    display: flex;
    gap: 10px;
}