.scriptContainer {
    margin: 10px;
    /* background-color: beige; */
    margin-left: auto;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    gap: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    /* margin: auto; */
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    

    /* Add the following properties */
    scrollbar-width: thin; /* for Firefox */
    scrollbar-color: rgba(209, 207, 207, 0.5) transparent; /* for Firefox, replace rgba(0, 0, 0, 0.5) with the color you want for the thumb */
}

/* Add this for Chrome, Safari and Opera */
.scriptContainer::-webkit-scrollbar {
    width: 8px;
}

.scriptContainer::-webkit-scrollbar-track {
    background: transparent; /* this is the scrollbar track (background), make it transparent */
}

.scriptContainer::-webkit-scrollbar-thumb {
    background-color: rgba(209, 207, 207, 0.5); /* this is the scrollbar thumb (movable part), replace rgba(0, 0, 0, 0.5) with the color you want */
    border-radius: 10px;
}