.VideoScriptCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    border-bottom: 1px solid rgb(203, 200, 200);
  }
  
  .VideoScriptCard h2 {
    color: rgb(87, 82, 82);
    display: flex;
    width: 20px;
    justify-content: center;
    margin: 5px;
    margin-left: 12px;
    font-size: 1rem;
  }
  
  .VideoScriptCard .editField {
    padding: 7px;
    flex-grow: 1;
    margin: 0 10px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    /* min-height: 50px;  */
    box-sizing: border-box;  
    width: 100%;
    flex: 1 1 auto; 
  }

  @media (max-width: 600px) {
    .VideoScriptCard .editField {
      font-size: 12px; /* Adjust font size */
    }
  }
  
  .VideoScriptCard .insertButton,
  .VideoScriptCard .deleteButton {
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .VideoScriptCard .deleteButton {
    color: white;
    background-color: red;
    border: none;
  }
  
  .VideoScriptCard .insertButton {
    color: white;
    background-color: green;
    border: none;
  }
  
  .VideoScriptCard.active {
    padding: 0;
    background-color: rgb(157, 248, 175);
    border-color: rgb(157, 248, 175);  
  }
  