.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 25px;  /* Reduced padding for smaller screens */
    height: auto;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero h1 {
    margin: 0;
    font-weight: 800;
    font-size: 2.5rem; /* Adjusted for smaller screens */
}

.hero button {
    margin-top: 20px;
}

.hero p {
    margin: 0;
}

.hero-top-title {
    font-weight: 700;
    font-size: large;
    background-image: linear-gradient(90deg, rgb(242, 0, 255), rgb(0, 55, 255));
    background-clip: text;
    color: transparent;
}

/* 
.hero h1 {
    margin: 0;
    padding-top: 5px;
    font-weight: 800;
    font-size: 100px;
} */

.hero-title-gen-ai {
    /* background-image: linear-gradient(90deg, rgb(0, 110, 255), rgb(255, 0, 255)); */
    background-image: linear-gradient(90deg, rgb(0, 110, 255), rgb(255, 0, 255));

    background-clip: text;
    color: transparent;
}

.hero-desc1 {
    /* padding: 100px; */
    font-weight: 700;
    color: gray;
    /* padding: 50px; */
    font-size: large;

}

.hero-desc2 {
    margin: 0;
    /* padding: 100px; */
    font-weight: 700;
    color: gray;
    padding-top: 30px;
    /* padding: 50px; */
    font-size: 25px;
}


.video-container {
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;  /* Add this line */
    max-width: 1000px;
    /* max-height: ; */
    width: 1000px;
    /* height: 562.5px; */
}

.video-container video{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


@media (min-width: 1270px) {
    .hero {
        /* Desktop specific styles for .hero */
        padding-top: 120px;
        padding-left: 200px;
        padding-right: 200px;
        height: calc(60vh - 70px);
    }

    .hero h1 {
        font-size: 100px;
    }
}

@media (min-width: 1080px) and (max-width: 1269px) {
    .hero {
        /* Tablet specific styles for .hero */
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    .video-container {
        width: 800px;
    }
}

@media (min-width: 780px) and (max-width: 1079px) {
  .hero {
    /* Mobile specific styles for .hero */
    padding: 30px 15px;
  }

  .hero h1 {
      font-size: 2rem;
  }
  .video-container {
      width: 700px;
  }
}

@media (min-width: 600px) and (max-width: 779px) {
  .hero {
      /* Mobile specific styles for .hero */
      padding: 30px 15px;
  }

  .hero h1 {
      font-size: 2rem;
  }
  .video-container {
      width: 580px;
  }
}

@media (min-width: 450px) and (max-width: 599px) {
    .hero {
        /* Mobile specific styles for .hero */
        padding: 30px 15px;
    }

    .hero h1 {
        font-size: 2rem;
    }
    .video-container {
        width: 430px;
    }
}

@media (max-width: 449px) {
  .hero {
      /* Mobile specific styles for .hero */
      padding: 30px 15px;
  }

  .hero h1 {
      font-size: 2rem;
  }
  .video-container {
      width: 350px;
  }
}

.blob-btn {
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0505A9;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #0505A9;
    border-radius: 30px;
  }
  
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px; /* 2px*1.5 */
    top: 3px;  /* 2px*1.5 */
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }
  
  .blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
  }
  
  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }
  
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  .blob-btn__blob {
    position: absolute;
    top: 2px;  /* 2px border width */
    width: 25%; /* 100% / 4 */
    height: 100%;
    background: #0505A9;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  
  /* Here, I had to hardcode the values for each child as we can't use loops in pure CSS */
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
  
  .blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
  }
  
  .blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
  }
  
  .blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
  }
  
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
  