.signup {
    text-align: center;
    display: flex;
    min-height: calc(100vh - 370px);
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg, white, #D2FFF5, #C1E5DD 48%, #f1dded);
  }
  
  .form h2 {
      font-size: 2rem;
  }
  
